
{{!--article details--}}
<div class="article">
    <h2><a href="{{article.link}}">{{article.title}}</a></h2>
    <p>{{article.body}}</p>
    <a class="detail-item">{{article.source}}</a>|
    <a class="detail-item" href="/article/{{article._id}}">{{article.comments.length}} comments</a>
</div>
{{!--new comment area --}}
<div class="newComment">
    <form action="{{article._id}}" method="post">
        <textarea class="comment-box" type="text" name="body" placeholder="Enter comment here"></textarea>
        <br>
        Author Name: <input type="text" name="author">
        <button type="submit" value="Submit">Submit</button>
    </form>
</div>
{{!--existing comment area--}}
{{#each article.comments}}
    {{> reply}}
{{/each}}
