{{#each news}}
    <div class="row">
        {{!--article--}}
        <div class="article">
            <h2><a href="{{link}}">{{title}}</a></h2>
            <p>{{body}}</p>
        </div>
        <a class="view-comments" href="/article/{{_id}}">View {{comments.length}} Comments</a>
    </div>
{{/each}}